/**
 * @name Yuno Theme
 * @author psonox
 * @version 1.7
 */

:root {
  --background-image: url('https://raw.githubusercontent.com/psonoxv2/mon-theme.css/main/2d932fba9c8099fff255153da383b2d7.jpg');
  --text-color: #b7ffcc;
  --primary: #00ff88;
}

/* On force l'image sur l'élément que Discord utilise pour le gris de base */
.bg-1Q_c1X, 
.appMount-2yBXZl, 
body {
  background: var(--background-image) center/cover no-repeat fixed !important;
}

/* Cette classe cache souvent tout au dernier moment */
.layer-2A6QeL, 
.container-1e_seg, 
.app-3xd6d0 {
  background: transparent !important;
}

/* Supprime le gris des salons et de la liste d'amis */
.container-2cd8Mz, 
.chat-2ZfjoI, 
.sidebar-1tnWFu, 
.container-ZMc96U, 
.panels-3wY9n4, 
.members-3WRC_L {
  background: transparent !important;
}

/* On ajoute un flou sombre pour que ce soit lisible et stylé */
.chatContent-3K79t5, 
.sidebar-1tnWFu {
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(4px);
}

/* TEXTE VERT */
* {
  color: var(--text-color) !important;
}

/* Fix pour la barre de recherche et d'écriture */
.scrollableContainer-15eg7h {
  background: rgba(0, 0, 0, 0.8) !important;
  border: 1px solid var(--primary) !important;
}
